# Main / Shared
* @giantswarm/team-tinkerers
/common @giantswarm/team-clippy @giantswarm/team-hydra @giantswarm/team-rocket

# Teams:
/providers/capz @giantswarm/team-clippy
/providers/capa @giantswarm/team-hydra
/providers/capvcd @giantswarm/team-rocket
/providers/capv @giantswarm/team-rocket

# Futureproofing
/providers/capo @giantswarm/team-rocket
/providers/capg @giantswarm/team-hydra
