# Main / Shared
* @giantswarm/team-tinkerers
/internal @giantswarm/team-phoenix @giantswarm/team-rocket
/internal/teleport @giantswarm/team-bigmac

# Teams:
/providers/capz @giantswarm/team-phoenix
/providers/capa @giantswarm/team-phoenix
/providers/eks @giantswarm/team-phoenix
/providers/capvcd @giantswarm/team-rocket
/providers/capv @giantswarm/team-rocket

# Futureproofing
/providers/capo @giantswarm/team-rocket
/providers/capg @giantswarm/team-phoenix
